<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler patch:instead="*[@type='Sitecore.Globalization.ItemEventHandler, Sitecore.Kernel']" type="Sitecore.Support.Globalization.ItemEventHandler, Sitecore.Support.106268" method="OnItemSaved"/>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Support.Publishing.DictionaryCacheUpdater, Sitecore.Support.106268" method="UpdateDicCache"/>
      </event>
      <event name="item:saved:remote">
        <handler patch:instead="*[@type='Sitecore.Globalization.ItemEventHandler, Sitecore.Kernel']" type="Sitecore.Support.Globalization.ItemEventHandler, Sitecore.Support.106268" method="OnItemSavedRemote"/>
      </event>
    </events>
  </sitecore>
</configuration>